# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# mc

run/
runClient/
runServer/
logs/
fabric/src/generated/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
*.class
/frontend/node_modules

# kotlin
.kotlin/
